.content-wrapper {
  max-width: 720px;
  margin: 40px auto;
}

.form-wrapper {
  display: flex;
  height: 40px;
}

.search-input {
  flex: 1;
  padding: 0 20px;
  outline: 0;
}

.send-btn {
  background-color: lightblue;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rest-item {
  padding: 6px;
  margin: 4px 0;
  border-radius: 4px;
  display: flex;
  opacity: 0.8;
  transition: 0.15s all ease-out;
  cursor: pointer;
}

.rest-item span {
  margin-right: 4px
}

.rest-item:hover {
  opacity: 1;
}

.rest-item:nth-child(odd) {
  background-color: lightgray;
}

.rest-item:nth-child(even) {
  background-color: rgba(231, 231, 231, 0.3);
}

.price {
  margin-left: auto;
  font-style: italic;
  flex: 0 0 100px;
}